<aside>
    <h2>Elsewhere</h2>

    <nav class="social-links">
        <ul aria-label="Links to Harmen on social media">
            <li><a title="Harmen on Github" href="https://github.com/harmenjanssen">{{ partial "svg.html" (dict "src" "github.svg") }}</a></li>
            <li><a title="Harmen on Twitter" href="https://twitter.com/harmenjanssen">{{ partial "svg.html" (dict "src" "twitter.svg") }}</a></li>
            <li><a title="Harmen on Last.fm" href="https://www.last.fm/user/harmenjanssen">{{ partial "svg.html" (dict "src" "lastfm.svg") }}</a></li>
            <li><a title="Harmen on Codepen" href="https://codepen.io/harmenjanssen/">{{ partial "svg.html" (dict "src" "codepen.svg") }}</a></li>
            <li><a title="Harmen on Goodreads" href="https://www.goodreads.com/user/show/80461331-harmen-janssen">{{ partial "svg.html" (dict "src" "goodreads.svg") }}</a></li>
            <li><a title="Harmen on Instagram" href="https://www.instagram.com/harmenjanssen/">{{ partial "svg.html" (dict "src" "instagram.svg") }}</a></li>
        </ul>
    </nav>
</aside>
