:root {
  --body-color: #444;
  --header-color: #000;
  --primary-color: #ff336d;
  --secondary-color: #ff8857;
  --gradient-position-x: 75%;
  --gradient-position-y: 25%;
  --gradient-min-size: 20%;
  --gradient-max-size: 80%;
  --gradient-size: 10%;
}

@view-transition {
  navigation: auto;
}

* {
  box-sizing: border-box;
}

html {
  background: fixed
    radial-gradient(
      circle at 90% 0%,
      #ff336d,
      #ff5362,
      #ff6e5b,
      #ff8857,
      #ff9f58,
      #ffb55f,
      #ffca6b,
      #ffde7d
    );
}

body {
  max-width: 35em;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--body-color);
}

@media (min-width: 420px) {
  body {
    font-size: 1.3em;
    line-height: 1.65;
  }
}

.container {
  /* 100% height minus body padding */
  position: relative;
  min-height: calc(100vh - 2em);
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  view-transition-name: container;
}

/**
 * Structure
 */
[role="banner"] a {
  font-weight: lighter;
  text-transform: lowercase;
  border: 0;
}

[role="main"] {
  flex: 1;
}

.main-footer {
  font-size: 0.65em;
}

/**
 * Content
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  color: var(--header-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px solid currentColor;
  background: radial-gradient(
    circle at var(--gradient-position-x) var(--gradient-position-y),
    var(--secondary-color) var(--gradient-size),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

pre,
code {
  background: #eee;
  padding: 0.5em;
  overflow-x: auto;
}

/* Fix cases where markdown conversion generates pre > code */
pre code {
  background: transparent;
  padding: 0;
  overflow: visible;
}

blockquote {
  font-style: italic;
}

blockquote p {
  position: relative;
}

blockquote p::before {
  position: absolute;
  right: 100%;
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

blockquote ul {
  padding: 0;
}

ul {
  margin-left: 0;
  padding-left: 1em;
}

.attention {
  padding: 0.5em;
  border-left: 1px solid var(--body-color);
  background: #ffefc1;
}

.attention a {
  color: var(--primary-color);
  -webkit-text-fill-color: var(--primary-color);
  background: none;
}

.attention a:hover,
.attention a:focus {
  color: var(--body-color);
  -webkit-text-fill-color: var(--body-color);
  border-color: var(--body-color);
}

.attention strong {
  font-weight: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/**
 * Animation for waving hand emoji
 */
@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
.wave-to-the-people {
  display: inline-block;
}
.cv-box:has(a:hover) .wave-to-the-people {
  animation: wave 0.3s infinite;
}

/**
 * Blog index
 */
.articles {
  list-style: none;
  padding: 0;
}

.articles li {
  margin-bottom: 1em;
}

time {
  display: block;
  font-size: 0.75em;
}

/**
 * "Elsewhere"
 */
.social-links ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.social-links li {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  width: 30px;
  display: block;
}

.social-links a {
  position: relative;
  width: 2em;
  height: 2em;
  display: block;
  border-radius: 1em;
  background-color: #444;
  background: radial-gradient(
    circle at var(--gradient-position-x) var(--gradient-position-y),
    var(--secondary-color) var(--gradient-size),
    var(--primary-color)
  );
  border: 0;
}

.social-links svg {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 1em;
  transform: translate(-50%, -50%);
  fill: #fff;
}

/**
 * CV
 */
dl {
  padding: 0;
  list-style: none;
}

dt {
  position: relative;
  margin-right: 2.5%;
  padding-right: 2.5%;
  flex-basis: 22.5%;
  font-weight: lighter;
  text-transform: lowercase;
}

dd {
  margin: 0 0 0.5em;
  flex-basis: 70%;
  flex-grow: 1;
}

dd:last-child {
  margin-bottom: 0;
}

@media (min-width: 675px) {
  dl {
    display: flex;
    flex-flow: row wrap;
  }
  dt {
    text-align: right;
  }
  dt {
    border-right: 1px solid var(--primary-color);
  }
  dt::after {
    --marker-width: 6px;
    position: absolute;
    top: 0.9em;
    left: calc(100% - calc(var(--marker-width) / 2));
    width: var(--marker-width);
    height: var(--marker-width);
    display: block;
    border: 1px solid var(--primary-color);
    border-width: 1px 1px 0 0;
    transform: translateY(-50%) rotate(45deg);
    content: "";
    background-color: #fff;
  }
}

.work-experience__role {
  display: block;
}

@media (min-width: 675px) {
  .my-face {
    position: absolute;
    right: 1em;
  }
}
