<a
  title="Harmen on Goodreads"
  href="https://www.goodreads.com/user/show/80461331-harmen-janssen"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="48"
    height="48"
    viewBox="0 0 48 48"
  >
    <path
      d="M10.8951372,25.2836097 C15.1796822,25.2513721 18.2270583,23.3025594 20.0351468,19.4392513 L20.1304766,19.4392513 L20.1304766,25.3314461 C20.1304766,25.7713328 20.0987,26.4524814 20.0351468,27.3780114 C19.905922,28.3347392 19.5616755,29.3663412 19.0034665,30.4707378 C18.4420799,31.5106592 17.5385652,32.3945924 16.2918633,33.1256572 C15.0599904,33.9211971 13.3408763,34.3350858 11.1334617,34.3673234 C9.00442947,34.3673234 7.20693308,33.8640014 5.73461724,32.8573574 C4.2305248,31.8673522 3.35137217,30.2596337 3.09715936,28.0352418 L1.22445835,28.0352418 C1.41511796,30.9262234 2.43090997,32.9873476 4.26971594,34.2217344 C6.05979779,35.4062049 8.33288397,36 11.0836784,36 C13.8026962,36 15.9221955,35.537235 17.4421762,34.610665 C18.9452094,33.7184124 20.0234954,32.6056965 20.6802118,31.274597 C21.3369283,29.9434976 21.7277805,28.6747935 21.8559461,27.4747241 C21.9512759,26.2736149 22,25.4135999 22,24.8936391 L22,0.587555607 L20.1283582,0.587555607 L20.1283582,5.9452308 L20.0330284,5.9452308 C19.3127588,3.97977931 18.1211363,2.49581143 16.4571016,1.48812756 C14.7782378,0.498122364 12.9224844,0 10.8919596,0 C7.35522388,0.0686348143 4.66904189,1.310301 2.83129514,3.73019816 C0.943765046,6.13137674 0,9.09515281 0,12.6184066 C0,16.239413 0.895040924,19.2343867 2.68618199,21.6054076 C4.4953298,24.0253048 7.23023592,25.2513721 10.8930188,25.2836097 L10.8951372,25.2836097 Z M4.12672123,5.04361893 C5.59797785,2.85146456 7.85305729,1.71587036 10.8930188,1.63267664 C14.0113625,1.71587036 16.3215214,2.81818707 17.8266731,4.94690623 C19.3297063,7.07354555 20.0817525,9.63071235 20.0817525,12.6184066 C20.0817525,15.6061009 19.3297063,18.1466289 17.8256139,20.2410307 C16.3215214,22.4664625 14.0124218,23.6020567 10.8930188,23.650933 C7.95050554,23.6020567 5.71025518,22.4987001 4.17544535,20.3387833 C2.62262879,18.2443815 1.84833895,15.6695361 1.84833895,12.6184066 C1.84833895,9.76070252 2.60779971,7.2357733 4.12778045,5.04361893 L4.12672123,5.04361893 Z"
      transform="translate(13 6)"></path>
  </svg>
</a>
