---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "This page does not exist";
---

<MainLayout pageTitle={pageTitle}>
  <h1>🫠 404 Not found</h1>
  <p>The URL you requested was not found on this website.</p>
</MainLayout>
