---
import { getCollection } from "astro:content";

import MainLayout from "../layouts/MainLayout.astro";
import ArticlePreview from "../components/ArticlePreview.astro";

const pageTitle = "Web development blog by Harmen Janssen";
const articles = await getCollection("posts");
const sortedArticles = articles.sort(
  (a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date)),
);
---

<MainLayout pageTitle={pageTitle}>
  <article>
    <header>
      <h1>The blog</h1>
      <p>Where I irregularly write about web development.</p>
    </header>
  </article>
  <ol class="articles">
    {
      sortedArticles.map((article) => (
        <li>
          <ArticlePreview
            title={article.data.title}
            url={article.data.url}
            date={article.data.date}
          />
        </li>
      ))
    }
  </ol>
</MainLayout>
