<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="cleartype" content="on">
<meta name="author" content="Harmen Janssen">
<meta name="description" content="Harmen Janssen has been a web developer for a million years, and still thinks naming things is the hardest problem in computing.">
<meta name="theme-color" content="#444444">
<link rel="manifest" href="/manifest.json">

<title>
{{- if .IsHome -}}
    {{ $.Site.Title }}{{ with $.Page.Title }} — {{ . }}{{ end }}
{{- else -}}
    {{- block "title" . -}}
        {{ with $.Page.Title }}{{ . }} | {{ end }}{{ $.Site.Title }}
    {{- end -}}
{{- end -}}
</title>
<link rel="stylesheet" href="{{ "/css/styles.css" | relURL }}">
<link rel="shortcut icon" href="/favicon.ico">
<script async defer src="{{ "/js/main.js" | relURL }}"></script>
</head>

<body{{ if .IsHome }} class="home"{{ end }}>
{{ partial "header.html" . -}}
<main role="main">
{{- block "main" . }}{{- end }}
</main>
{{- partial "footer.html" . -}}
</body>
<script>
if (navigator.serviceWorker) {
    navigator.serviceWorker.register('/serviceworker.js')
        .then(function(registration) {
            console.log('Service worker registered.');
        })
        .catch(function(error) {
            console.error('Service worker registration failure!', error);
        });
}
</script>
</html>
