{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
        <footer>
            <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        </footer>
    </header>
    {{ .Content }}
    <aside>
        <nav>
            <ul>
                {{ with .PrevInSection }}
                <li><a class="previous" href="{{.Permalink}}"> {{.Title}}</a></li>
                {{ end }}
                {{ with .NextInSection }}
                <li><a class="next" href="{{.Permalink}}"> {{.Title}}</a></li>
                {{ end }}
            </ul>
        </nav>
    </aside>
</article>
{{ end }}
