:root {
    --body-color: #444;
    --header-color: #000;
    --primary-color: var(--body-color);
    --secondary-color: var(--body-color);
    --gradient-direction: 30deg;
    --gradient-distance: 0%;
}

* { box-sizing: border-box; }

html {
    height: 100%;
    background-size: 10%;
    background-image: url('/build/images/glyphs.png');
}

body {
    max-width: 35em;
    min-height: 100%;
    margin: 0; padding: 1em;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    line-height: 1.5;
    color: var(--body-color);
    background: #fff;
}

/**
 * Structure
 */
[role="banner"] a {
    font-weight: lighter;
    text-transform: lowercase;
    border: 0;
}

[role="main"] {
    flex: 1;
}


.main-footer {
    font-size: .75em;
    color: #bbb;
}

/**
 * Content
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    color: var(--header-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 1px solid currentColor;
    background: linear-gradient(
        var(--gradient-direction),
        var(--primary-color) var(--gradient-distance),
        var(--secondary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:hover, a:focus {
    outline: 0;
    -webkit-text-fill-color: #000;
    color: #000;
    border-color: currentColor;
}
a:active {
    -webkit-text-fill-color: var(--primary-color);
}

pre {
    background: #eee;
    padding: .5em;
    overflow-x: auto;
}

blockquote {
    font-style: italic;
}

blockquote p {
    position: relative;
}

blockquote p::before, blockquote p::after {
    color: #bbb;
}

blockquote p::before {
    position: absolute;
    right: 100%;
    content: open-quote;
}

blockquote p::after {
    content: close-quote;
}

blockquote ul {
    padding: 0;
}

.home main p:first-of-type {
    margin: 0 -.5em 1em;
    padding: .5em;
    border: 1px solid var(--primary-color);
    border-width: 1px 0;
}

/**
 * Blog index
 */
.articles {
    list-style: none;
    padding: 0;
}

.articles li {
    margin-bottom: 1em;
}

.articles time {
    display: block;
    font-size: .75em;
    color: #bbb;
}

/**
 * "Elsewhere"
 */
.social-links ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.social-links li {
    margin-right: .5em;
    margin-bottom: .5em;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    width: 30px;
    display: block;
}

.social-links a {
    position: relative;
    width: 2em; height: 2em;
    display: block;
    border-radius: 1em;
    background: linear-gradient(
        var(--gradient-direction),
        var(--primary-color) var(--gradient-distance),
        var(--secondary-color)
    );
    border: 0;
}

.social-links a:hover, .social-links a:focus {
    background: #000;
}

.social-links svg {
    position: absolute;
    left: 50%; top: 50%;
    max-width: 1em;
    transform: translate(-50%, -50%);
    fill: #FFF;
}

@media (min-width: 420px) {
    body {
        padding: 2em;
        font-size: 1.4em;
        line-height: 1.5;
    }
}
